WeatherAPI/bin
WeatherAPI/Obj
.vs
.vs/WeatherApplication
Data/obj
Data/bin
CustomActivity/obj
CustomActivity/bin
packages
Business/bin/
Business/obj/
Business.Test/bin/
Business.Test/obj/
/WeatherAPI/Properties/PublishProfiles