<div class="card center">
  <div class="card-body center">
    <h4 class="card-title">
      Cloudy Days
    </h4>
    <h3>{{totalCloudyDays}}</h3>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cloudyDay of cloudyDays">
        <th scope="row"><a class="card-link" [routerLink] = "['/city', selectedCity.cityId, 'weather-history', cloudyDay.date]">{{cloudyDay.date|date}}</a></th>
        <td>{{cloudyDay.value}}</td>
      </tr>
    </tbody>
  </table>
</div>