<div style="margin-top:10px">
    <accordion [isAnimated]="true">
      <accordion-group *ngFor="let daily of dailyWeatherDetails">
        <div
          class="btn btn-block justify-content-between d-flex w-100  shadow-none"
          accordion-heading type="button">
          <div class="pull-left float-left">
            <span style="min-width:150px;  display: inline-block; text-align:center">{{daily.dt | convertToDate }}</span>
            <span style="min-width: 180px;  display: inline-block; text-align:center">
              {{daily.temp.max}}° / {{daily.temp.min}}°
            </span>
            <span style="min-width: 350px;  display: inline-block; text-align:center"> 
              <img alt="_photo" src="http://openweathermap.org/img/w/{{daily.weather[0].icon}}.png" />
              <span>{{daily.weather[0].description | titlecase}}</span>
            </span>
            <span style="min-width:270px;  display: inline-block; text-align:left">Cloud cover  {{daily.clouds | convertToPerc }}</span>
            <span style="min-width:250px;  display: inline-block; text-align:left">
              <img alt="_photo" src="../assets/images/rain.png" style="width: 7%;" />
              Rain
              {{daily.pop*100 | convertToPerc}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6" >
            <div class="card">
              <div class="card-body">
                <h4 style="text-align:center">
                  <img alt="_photo" src="../assets/images/sunrise.png" style="width: 7%;" /> Day
                </h4>
                <div>
                  <div class="pull-left float-left">
                    <span style="display: inline-block; text-align:left">
                      <img alt="_photo" src="../assets/images/temp.png" style="width: 20%;" />
                      Morning {{daily.temp.morn}}°F
                    </span>
                    <span style="text-align:left;" class="text-muted">
                      Feels like {{daily.feels_like.morn}}°F
                    </span>
                    <span style="display: inline-block; text-align:left; margin-left: 50px;">
                      Day {{daily.temp.day}}°F
                    </span>
                    <span style="text-align:left; margin-left: 5px;" class="text-muted">
                      Feels like {{daily.feels_like.day}}°F
                    </span>
                  </div>
                  <hr/>
                  <div class="pull-left float-left">
                    <span style="display: inline-block; text-align:right; margin-left: 5%;">
                     Sunrise {{daily.sunrise | convertToTime}}
                    </span>
                    <span style="display: inline-block; text-align:right; margin-left: 50%;">
                      Sunset {{daily.sunset | convertToTime}}
                    </span>
                  </div>

                  
                </div>
                  
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6" >
            <div class="card">
              <div class="card-body">
                <h4 style="text-align:center">
                  <img alt="_photo" src="../assets/images/sunset.png" style="width: 7%;" /> Night
                </h4>
                <div class="pull-left float-left">
                  <span style="display: inline-block; text-align:left">
                    <img alt="_photo" src="../assets/images/temp.png" style="width: 20%;" />
                    Evening {{daily.temp.eve}}°F
                  </span>
                  <span style="text-align:left;" class="text-muted">
                    Feels like {{daily.feels_like.eve}}°F
                  </span>
                  <span style="display: inline-block; text-align:left; margin-left: 5%;">
                    Night {{daily.temp.night}}°F
                  </span>
                  <span style="text-align:left; margin-left: 2%;" class="text-muted">
                    Feels like {{daily.feels_like.night}}°F
                  </span>
                </div>
                <hr/>
                <div class="pull-left float-left">
                  <span style="display: inline-block; text-align:right; margin-left: 5%;">
                   Moonrise {{daily.moonrise | convertToTime}}
                  </span>
                  <span style="display: inline-block; text-align:right; margin-left: 8%;">
                    Moonset {{daily.moonset | convertToTime}}
                  </span>
                  <span style="display: inline-block; text-align:right; margin-left: 8%;">
                    Moon phase {{daily.moon_phase}}
                  </span>
                </div>
              </div>
            </div>
        </div>
        <div>
          <div class="card">
            <div class="card-body">
              <div class="pull-left float-left">
                <span style="min-width: 25%;  display: inline-block; text-align:center;">
                  <img alt="_photo" src="../assets/images/uv.png"  />
                  UV {{daily.uvi}}
                </span>
                <span style="min-width:25%;  display: inline-block; text-align:center">
                  <img alt="_photo" src="../assets/images/humidity.png" style="width:10%"/>
                  Humidity
                  {{daily.humidity | convertToPerc}}
                </span>
                <span style="max-width:25%;  display: inline-block; text-align:center;">
                  <img alt="_photo" src="../assets/images/pressure.png" style="width: 9%;" />
                  Pressure {{daily.pressure | convertToHg}}
                </span>
                <span style="min-width:25%;  display: inline-block; text-align:center;">
                  Visibility {{daily.visibility | convertToMiles}}
                </span>
              </div>
              <hr/>
              <div class="pull-left float-left">
                <span style="min-width:30%;  display: inline-block; text-align:center">
                  <img alt="_photo" src="../assets/images/wind.png" style="width: 10%;" />
                  Wind Speed {{ daily.wind_speed }} miles/hr
                </span>
                <span style="min-width:30%;  display: inline-block; text-align:center;">
                  <img alt="_photo" src="../assets/images/direction.png"  />
                  Wind Degree {{daily.wind_deg}}°
                </span>
                <span style="min-width:30%;  display: inline-block; text-align:center">
                  <img alt="_photo" src="../assets/images/gust.png" style="width:10%"/>
                  Wind Gust
                  {{daily.wind_gust}} miles/hr
                </span>

              </div>
          </div>
         </div>
      </div>
        </div>
      </accordion-group>
    </accordion>
  </div>