<div class="container"> 
  <div class="bs-docs-section" style="margin:10px">
    <div class="row" *ngIf="weather">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                {{weather.cityName}}, {{weather.stateName}}
              </h4>
              <h4 class="card-title">
                <img alt="_photo" src="http://openweathermap.org/img/w/{{weather.weatherModel.current.weather[0].icon}}.png">
                <span>{{weather.weatherModel.current.temp }}°F</span>  <span style="margin-left:10px"> {{weather.weatherModel.current.weather[0].description}}</span>
              </h4>
              <h6 class="card-subtitle mb-2 text-muted">Feels like {{weather.weatherModel.current.feels_like }}°F</h6>
              <div>
                  <span><img alt="_photo" src="../assets/images/sunrise.png" style="width:8%"> {{weather.weatherModel.current.sunrise | convertToTime}}</span>
                  <span><img alt="_photo" src="../assets/images/moonrise.png" style="width:8%; margin-left: 45px;"> {{weather.weatherModel.daily[0].moonrise | convertToTime}}</span>
              </div>
              <div style="margin-top: 5px">
                  <span><img alt="_photo" src="../assets/images/sunset.png" style="width:8%"> {{weather.weatherModel.current.sunset | convertToTime}}</span>
                  <span><img alt="_photo" src="../assets/images/moonset.png" style="width:8%; margin-left: 45px;"> {{weather.weatherModel.daily[0].moonset | convertToTime}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="bs-component">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Max
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.daily[0].temp.max}}°F</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Min
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.daily[0].temp.min}}°F</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Pressure
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.pressure | convertToHg}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Humidity
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.humidity | convertToPerc}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Dew point
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.dew_point}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              UVI
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.uvi}}</span>
            </li>
           
          </ul>
        </div>
      </div>
  
      <div class="col-lg-3">
        <div class="bs-component">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Clouds
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.clouds | convertToPerc}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Visibility
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.visibility | convertToMiles}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Wind Speed
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.wind_speed}} m/hr</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Wind Degree
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.wind_deg}}°</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Wind Gust
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.current.wind_gust}} m/hr</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Moon Phase
              <span class="badge bg-primary rounded-pill">{{weather.weatherModel.daily[0].moon_phase}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="bs-component">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Morning
            </h4>
            <h5>{{weather.weatherModel.daily[0].temp.morn}}°F</h5>
            <h6 class="card-subtitle mb-2 text-muted">Feels like {{weather.weatherModel.daily[0].feels_like.morn }}°F</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="bs-component">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Day
            </h4>
            <h5>{{weather.weatherModel.daily[0].temp.day}}°F</h5>
            <h6 class="card-subtitle mb-2 text-muted">Feels like {{weather.weatherModel.daily[0].feels_like.day }}°F</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="bs-component">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Evening
            </h4>
            <h5>{{weather.weatherModel.daily[0].temp.eve}}°F</h5>
            <h6 class="card-subtitle mb-2 text-muted">Feels like {{weather.weatherModel.daily[0].feels_like.eve }}°F</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="bs-component">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Night
            </h4>
            <h5>{{weather.weatherModel.daily[0].temp.night}}°F</h5>
            <h6 class="card-subtitle mb-2 text-muted">Feels like {{weather.weatherModel.daily[0].feels_like.night }}°F</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>